*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: auto auto;
}
.section-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-width: 280px;
    height: 100vh;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
}
.input{
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input input{
    width: 90%;
    height: 70px;
    font-size: 30px;
    padding-left: 18px;
    border-radius: 8px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;

}
.grid button{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: aliceblue;
    border: none;
    font-size: 16px;
    font-weight: bold;
}
.grid button:hover{
    border: 1px solid lightcyan;
    background: radial-gradient(lightblue,white);
    color: white;
}
@media only screen  and (min-width:480px) {
    .section-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100vh;
        border: 2px solid black;
        margin-left: auto;
        margin-right: auto;
        background-color: antiquewhite;
    }
    .input input{
        width: 90%;
        height: 70px;
        font-size: 30px;
        padding-left: 18px;
        border-radius: 8px;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 25px;
        row-gap: 9px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media only screen  and (min-width:481px){
    .section-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100vh;
        border: 2px solid black;
        margin-left: auto;
        margin-right: auto;
        background-color: antiquewhite;
    }
    .input input{
        width: 80%;
        height: 70px;
        font-size: 30px;
        padding-left: 18px;
        border-radius: 8px;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 55px;
        row-gap: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .grid button{
        border-radius: 50%;
        height: 58px;
        width: 58px;
        background-color: aliceblue;
        border: none;
        font-size: 20px;
        font-weight: bold;
    }
}
@media only screen  and (min-width:768px) {
    .section-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100vh;
        border: 2px solid black;
        margin-left: auto;
        margin-right: auto;
        background-color: antiquewhite;
    }
    .input input{
        width: 80%;
        height: 70px;
        font-size: 30px;
        padding-left: 18px;
        border-radius: 8px;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 45px;
        row-gap: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .grid button{
        border-radius: 50%;
        height: 60px;
        width: 60px;
        background-color: aliceblue;
        border: none;
        font-size: 20px;
        font-weight: bold;
    }
    .grid button:hover{
        border: 1px solid lightcyan;
        background: radial-gradient(lightblue,white);
        color: white;
    }
}
@media only screen  and (min-width:1600px) {
    .section-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100vh;
        border: 2px solid black;
        margin-left: auto;
        margin-right: auto;
        background-color: antiquewhite;
    }
    .input input{
        width: 80%;
        height: 70px;
        font-size: 30px;
        padding-left: 18px;
        border-radius: 8px;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        column-gap: 60px;
        row-gap: 55px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .grid button{
        border-radius: 50%;
        height: 82px;
        width: 82px;
        background-color: aliceblue;
        border: none;
        font-size: 30px;
        font-weight: bold;
    }
    .grid button:hover{
        border: 1px solid lightcyan;
        background: radial-gradient(lightblue,white);
        color: white;
    }
}